# Python
__pycache__/
*.py[cod]
.env
# Data
*.qpy
*.parquet
circuits/
# Conda
.conda/
acct.key

!MANIFEST.parquet

.kiro
playground.ipynb

circuits_hpc/

logs/

circuit_hashes_cache.json

pipeline.log

venv

*.csv
*.log
data/

.DS_Store

!rdbms_all_methods_training_data.parquet
!estimator_training_data.parquet
!rdbms_no_psql_methods_training_data.parquet
!rdbms_training_data.parquet
!selector_training_data.parquet